.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 300px;

    border-radius: 20px;
    filter: brightness(110%);
}

.my-table {
    border-collapse: collapse;
    margin: 30px auto;
}

.my-table th,
.my-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.my-table th {
    background-color: lightgray;
}

.image-container {
    position: relative;
    width: 300px;
    margin: 30px auto;
}

.overlay-image {
    width: 100%;
    border-radius: 20px;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 15px;
    border-radius: 10px;
}



.site-footer {
    text-align: center;
    font-weight: bold;
}
